
html {
  padding-bottom: 10px;
  background-color: white;
  font-family: 'Quicksand', sans-serif;
}
a {
  text-decoration: none;
  color: #5b59e8;
}

a:hover {
  color: #9896f8
}

header {
  background-color: #2F0088;
  position: fixed;
  height: 120px;
  width: 100vw;
  top: 0;
  left: 0;
  padding-left: 10px;
  color: white;
}

header h1 >a {
  color: white;
}

header h1 > a:hover {
  color: 	#DCDCDC;
}

main {
  padding-top: 120px;
  min-height: calc(100vh - 158px);
  width: calc(100vw - 8px);
  background-color: white;
  padding-left: 10px;
  margin-left: -10px;
  margin-bottom: 20px;
}

.messageBox {
  border: 1px solid #000;
  width: 30em;
  word-wrap: break-word;
  margin-bottom: 6px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px 0 #666B6D;
  padding: 10px;
}

.personList {
  border: 1px solid #FFF;
  width: 10em;
  text-align: center;
  float: left;
  background-color: #EDE;
}

.form {
  max-width: 500px;
  padding: 20px 12px 10px 20px;
}

.form label{
  display: block;
  margin: 0px 0px 15px 0px;
}

.form label > span{
  width: 100px;
  font-weight: bold;
  float: left;
  padding-top: 8px;
  padding-right: 5px;
}

.fieldBox {
  height: 20px;
  width: 150px;
  box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
}

#blurbArea {
  height: 90px;
  width: 45%;
  box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
  border-color: #c4c9d1;
}

.updateButton, .createButton {
  border: none;
  padding: 8px 15px 8px 15px;
  background: #2F0088;
  color: white;
  box-shadow: 1px 1px 4px #DADADA;
  border-radius: 2px;
}

.deleteButton {
  border: none;
  background: red;
  padding: 8px 15px 8px 15px;
  color: white;
  box-shadow: 1px 1px 4px #DADADA;
  border-radius: 2px;
}
.buttons {
  margin-left: 40%;
}

#createNewPersonButton {
  margin-left: 0%;
  margin-top: 10%;
}

#createActivityButton {
  margin-left: 25%;
  margin-top: 10%;
}

#updateMessage {
  margin-left: 0%;
  margin-top: 10%;
}

#updatePerson {
  margin-left: -25%;
  margin-top: 10%;
}

#createMessageButton {
  margin-left: 20%;
  margin-top: 10%;
}

.category {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 35px;
}

.people, .message {
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 28px;
}

.W {
  font-size: 18px;
  font-weight: bold;
}

.messageContent {
  font-size: 16px;
  font-weight: bold;
}

.messageSection {
  margin-top: 10em;

}

.person {
  text-decoration: none;
}

.activity {
  height: 25em;
  width: 25em;
  background-color: #E1CB8F;
  box-shadow: inset 0 0 10px 10px #AE631E;
  margin-bottom: 10px;
  margin: 0 auto;
  border: 1px solid #FFF;
}
.activityText {
  color: #000;
  text-align: center;
  word-wrap: break-word;
}

.categoryMenu {
  display: flex;
  width: calc(100vw - 20px);
  flex-wrap: wrap;
  justify-content: center;
}

.category_button {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  color: white;
  font-size: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Quicksand', sans-serif;
  margin: 7px;
}

.innerCategory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 200px;
}

.concerts {
  background-image: url("/images/concerts.jpg");
}

.dinner {
  background-image: url("/images/dinner.jpg");
}

.exercise {
  background-image: url("/images/jogging.jpg");
}

.festivals {
  background-image: url("/images/festivals.jpeg");
}

.hiking {
  background-image: url("/images/hiking.jpeg");
}

.movies {
  background-image: url("/images/movies.jpg");
}

.theatre {
  background-image: url("/images/theatre.jpg");
}

.travel {
  background-image: url("/images/travel.jpg");
}

.winterSports {
  background-image: url("/images/winter-sports.jpg");
}

.waterSports {
  background-image: url("/images/water-sports.jpg");
}

.detailsButton {
  font-family: 'Quicksand', sans-serif;
}
.miscellaneous {
  background-image: url("");
}

.all {
  background-image: url("");
}

.newActivity {
  text-align: right;
  margin-right: 10px;
}
