html {
  padding-bottom: 10px;
  background-color: white;
  font-family: 'Quicksand', sans-serif;
}
a {
  text-decoration: none;
  color: #5b59e8;
}

a:hover {
  color: #9896f8
}


header {
  background-color: #2F0088;
  position: fixed;
  height: 120px;
  width: 100vw;
  top: 0;
  left: 0;
  padding-left: 10px;
  color: white;
}

header h1 >a {
  color: white;
}

header h1 > a:hover {
  color: 	#DCDCDC;
}

main {
  padding-top: 120px;
  min-height: calc(100vh - 158px);
  width: calc(100vw - 8px);
  background-color: white;
  padding-left: 10px;
  margin-left: -10px;
  margin-bottom: 20px;
}

.messageBox {
  border: 1px solid black;
}

.personList {
  border: 1px solid black;
  width: 600px;
}

.form {
  max-width: 500px;
  padding: 20px 12px 10px 20px;
}

.form label{
  display: block;
  margin: 0px 0px 15px 0px;
}

.form label > span{
  width: 100px;
  font-weight: bold;
  float: left;
  padding-top: 8px;
  padding-right: 5px;
}

.fieldBox {
  height: 20px;
  width: 150px;
  box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
}


#blurbArea {
  height: 90px;
  width: 45%;
  box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
  border-color: #c4c9d1;

}

.updateButton, .createButton {
  border: none;
  padding: 8px 15px 8px 15px;
  /*background: #4286f4;*/
  background: #2F0088;
  color: white;
  box-shadow: 1px 1px 4px #DADADA;
  border-radius: 2px;
}

.deleteButton {
  border: none;
  background: red;
  padding: 8px 15px 8px 15px;
  color: white;
  box-shadow: 1px 1px 4px #DADADA;
  border-radius: 2px;
}
.buttons {
  margin-left: 40%;
}

#createNewPersonButton {
  margin-left: 0%;
  margin-top: 10%;
}

#createActivityButton {
  margin-left: 25%;
  margin-top: 10%;
}

#updateMessage {
  margin-left: 0%;
  margin-top: 10%;
}

#updatePerson {
  margin-left: -25%;
  margin-top: 10%;
}

#createMessageButton {
  margin-left: 20%;
  margin-top: 10%;
}
