html {
  padding-bottom: 10px;
  background-color: white;
}

header {
  background-color: green;
  position: fixed;
  height: 120px;
  width: 100vw;
  top: 0;
  left: 0;
  padding-left: 10px;
}

main {
  padding-top: 120px;
  min-height: calc(100vh - 158px);
  width: calc(100vw - 8px);
  background-color: white;
  padding-left: 10px;
  margin-left: -10px;
  margin-bottom: 20px;
}

.messageBox {
  border: 1px solid black;
}

.personList {
  border: 1px solid black;
  width: 600px;
}

.form {
  max-width: 500px;
  padding: 20px 12px 10px 20px;
}

.form label{
  display: block;
  margin: 0px 0px 15px 0px;
}

.form label > span{
  width: 100px;
  font-weight: bold;
  float: left;
  padding-top: 8px;
  padding-right: 5px;
}
.fieldBox {
  height: 20px;
  width: 150px;
  box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
}

#blurbArea {
  height:100px;
  width: 55%;
}

.updateButton {
  border: none;
  padding: 8px 15px 8px 15px;
  background: #4286f4;
  color: white;
  box-shadow: 1px 1px 4px #DADADA;
  border-radius: 3px;
}

.deleteButton {
  border: none;
  background: red;
  padding: 8px 15px 8px 15px;
  color: white;
  box-shadow: 1px 1px 4px #DADADA;
  border-radius: 3px;
}
.buttons {
  margin-left: 50%;
}

.category_button {
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
  color: white;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.concerts {
  background-image: url("/images/concerts.jpg");
}

.dinner {
  background-image: url("/images/dinner.jpg");
}

.exercise {
  background-image: url("/images/men jogging.jpeg");
}

.festivals {
  background-image: url("/images/festivals.jpeg");
}

.hiking {
  background-image: url("/images/hiking.jpeg");
}

.movies {
  background-image: url("/images/movies.jpg");
}

.theatre {
  background-image: url("/images/theatre.jpg");
}

.travel {
  background-image: url("/images/travel.jpg");
}

.winterSports {
  background-image: url("/images/winter-sports.jpg");
}

.waterSports {
  background-image: url("/images/water-sports.jpg");
}
