<h2>Home</h2>
<input type="hidden" ng-model="vm.categorySearch">

  <p><a data-ui-sref="activityNew">Create Activity</a></p>

<button class="category_button concerts" ng-click="vm.categorySearch = 'Concerts'">Concerts</button>
<button class="category_button dinner" ng-click="vm.categorySearch = 'Dinner'">Dinner</button>
<button class="category_button exercise" ng-click="vm.categorySearch = 'Exercise'">Exercise</button>
<button class="category_button festivals" ng-click="vm.categorySearch = 'Festivals'">Festivals</button>
<button class="category_button hiking" ng-click="vm.categorySearch = 'Hiking and Outdoors'">Hiking and Outdoors</button>
<button class="category_button movies" ng-click="vm.categorySearch = 'Movies'">Movies</button>
<button class="category_button theatre" ng-click="vm.categorySearch = 'Theate'">Theatre</button>
<button class="category_button travel" ng-click="vm.categorySearch = 'Travel'">Travel</button>
<button class="category_button waterSports" ng-click="vm.categorySearch = 'Water Sports'">Water Sports</button>
<button class="category_button winterSports" ng-click="vm.categorySearch = 'Winter Sports'">Winter Sports</button>
<button class="category_button" ng-click="vm.categorySearch = ''">All</button>


<div data-ng-repeat="activity in vm.activities | filter: vm.categorySearch">
    <p><a ui-sref="activityShow({id: activity.id})">{{activity.event_name}}</a></p>
    <button class="detailsButton" ng-click="vm.toggleExpand[$index] = !vm.toggleExpand[$index]">Details</button>
    <div ng-show="vm.toggleExpand[$index]">
      <p>{{activity.category}}</p>
      <p>{{activity.date | date: 'MM/dd/yyyy'}}</p>
      <p>{{activity.time | date: 'shortTime'}}</p>
      <p>{{activity.location}}</p>
      <p>{{activity.blurb}}</p>
      <p>{{activity.price}}</p>
    </div>
    <hr>
</div>
