<h1> Edit Message </h1>

<div class="form">
<form>
  <label><span>Name:</span> <input class="fieldBox" data-ng-model="vm.message.author" /></label>
  <label><span>Content:</span> <textarea id="blurbArea" data-ng-model="vm.message.content" /></textarea></label>

  <div class="buttons">
    <button type="button" class="updateButton" id="updateMessage" data-ng-click="vm.update()">Update</button>
    <button type="button" class="deleteButton" data-ng-click="vm.destroy()">Delete</button>
  </div>
</form>
</div>
