<h1>New Activity</h1>

<form>
  <p><input placeholder="Name" data-ng-model="vm.activity.name" /></p>
  <br>
  <p><input placeholder="Location" data-ng-model="vm.activity.location" /></p>
  <br>
  <p><input placeholder="Date" data-ng-model="vm.activity.date" /></p>
  <br>
  <textarea placeholder="Blurb" value="vm.activity.blurb" data-ng-model="vm.activity.blurb"></textarea></p>
  <br>
  <p><input placeholder="Time" data-ng-model="vm.activity.time" /></p>
  <br>
  <p><input placeholder="Price" data-ng-model="vm.activity.price" /></p>
  <br>
  <p><button data-ng-click="vm.create()"> Create Entry </button></p>
</form>
