<h1>New Activity</h1>
<div class="form">
<form>
  <label><span> Category:</span><input class="fieldBox"  data-ng-model="vm.activity.category" /></label>

  <label> <span>Event Name:</span><input class="fieldBox" data-ng-model="vm.activity.event_name" /></label>

  <label> <span>Location:</span><input class="fieldBox"  data-ng-model="vm.activity.location" /></label>

  <label> <span>Date:</span><input class="fieldBox"  data-ng-model="vm.activity.date" /></label>

  <label> <span>Time: </span><input class="fieldBox"  data-ng-model="vm.activity.time" /></label>
  <label><span>Price:</span><input class="fieldBox"  data-ng-model="vm.activity.price" /></label>

  <label> <span> Blurb:</span><textarea id="blurbArea"  value="vm.activity.blurb" data-ng-model="vm.activity.blurb"></textarea></label>

  <div class="buttons">
    <button class="createButton" id="createActivityButton" data-ng-click="vm.create()"> Create </button></p>
  </div>
</form>
</div>
