<h2>New Activity</h2>
<p><a data-ui-sref="activityIndex"> Back </a></p>
<div class="form">
<form>
  <label><span> Category:</span>
    <select name="categories" data-ng-model="vm.activity.category" />
      <option value="">
      <option value="Concerts">Concerts</option>
      <option value="Dinner">Dinner</option>
      <option value="Exercise">Exercise</option>
      <option value="Festivals">Festivals</option>
      <option value="Hiking_and_Outdoors">Hiking</option>
      <option value="Movies">Movies</option>
      <option value="Theatre">Theatre</option>
      <option value="Travel">Travel</option>
      <option value="Water_Sports">Water Sports</option>
      <option value="Winter_Sports">Winter Sports</option>
    </select>
  </label>

  <label> <span>Event Name:</span><input class="fieldBox" data-ng-model="vm.activity.event_name" /></label>
  <label> <span>Date:</span><input class="fieldBox"  data-ng-model="vm.activity.date" /></label>
  <label> <span>Time: </span><input class="fieldBox"  data-ng-model="vm.activity.time" /></label>
  <label> <span>Location:</span><input class="fieldBox"  data-ng-model="vm.activity.location" /></label>
  <label> <span> Blurb:</span><textarea id="blurbArea"  value="vm.activity.blurb" data-ng-model="vm.activity.blurb"></textarea></label>
  <label><span>Price:</span><input class="fieldBox"  data-ng-model="vm.activity.price" /></label>
  <div class="buttons">
    <button class="createButton" id="createActivityButton" data-ng-click="vm.create()"> Create </button></p>
  </div>
</form>
</div>
